{% extends "base.html" %}
{% block content %}
    <header id="page-header">
        <div class="container my-3 bg-light">
            <div class="row">
                <div class="col-md-6 m-auto text-center">
                    <h1 class="fst-italic">My英単語帳</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, delectus!</p>
                </div>
            </div>
        </div>
    </header>

    <section id="menu">
        <div class="container my-3 py-4 bg-light">
            <div class="row">
                <div class="col-md-3">
                    <a href="{{ url_for('wordbook.create_wordbook', user_id=wordbooks.items[0].user_id) }}" class="btn btn-secondary">
                        新規作成
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!--ページ明細-->
    <div class="container my-3">
        <div class="row mb-2">
            <!--コンテンツ-->
            <div class="class col-8">
                <!--コース一覧-->
                <section id="course">
                    <div class="row">
                        {% for wordbook in wordbooks.items %}
                        <div class="col-6 mb-4">
                            <div class="card h-100">
                                <div class="card-body" style="max-height:26rem;">
                                    {% if wordbook.featured_image %}
                                    <div class="mb-3" style="text-align: center;">
                                        <img src="{{ url_for('static', filename='featured_image/' + wordbook.featured_image) }}"
                                        class="img-fluid card-img-top" style="max-height: 10rem;">
                                    </div>
                                    {% endif %}
                                    <h3>
                                        <a href="#" class="card-title text-decoration-none">
                                            <span class="fst-italic">{{ wordbook.title }}</span>
                                        </a>
                                    </h3>
                                    <p> {{ wordbook.date.strftime("%Y-%m-%d") }}</p>
                                    <a href="{{ url_for('wordbook.my_words', wordbook_id=wordbook.id, user_id=wordbook.user_id) }}" class="btn btn-dark">開く</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </section>
            </div>
            <!--サイドバー-->
            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <!--検索欄-->
                    <div class="container-fluid mb-3">
                        <form action="#" class="d-flex" method="POST">
                        </form>
                    </div>

                    <!--最新コース-->
                    <div class="p-4">
                        <h4 class="fst-italic">RECENT COURSE<span class="ms-2 fs-6">最新コース</span></h4>
                        <hr>
                        <ol class="list-unstyled">
                            <li>
                                <a href="#" class="text-decoration-none">
                                    <img src="#"
                                    class="img-fluid" width="90" height="50">
                                    <span class="ms-2">タイトル</span>
                                    <span class="ms-2">タイトル</span>
                                </a>
                            </li>
                            <hr>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
